<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashokcouhan.blooduser">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_blood"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_blood"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OrderStatus" />

        <service
            android:name=".ListenOrder"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".BookBlood" />
        <activity android:name=".BankList" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login">

        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>